@tailwind base;
@tailwind components;
@tailwind utilities;

/* text color: #d1b76e */
/* button color : #f6b925 */
/* bg color: #141416*/

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
